body{
    background-image: url('https://image.freepik.com/free-photo/lights-night-stadium-sport-background-3d-render_41667-230.jpg');
    background-repeat: no-repeat;
    background-size: 3000px 1000px;
}
#contact {
    position: absolute;
    top:15px;
    right: 50px;
}

h1 {
    text-align: center;
    position: relative;
    top:35px;
}

div{
    color: antiquewhite;
}

li a{
    font-size: 20px ;
    color: white;
    text-decoration: none;
}

#zlatan_div {
    height: 100px;
    width:275px;
    position: absolute;
    left: 475px;
    top: 158px;
    background-image: url('img/milan.jpg');
}

#zlatan_h2{
    text-align: center;
    position: relative;
    bottom: 12px;
}

#zlatan_h4{
    text-align: center;
    position: relative;
    bottom: 20px;
}

#zlatan_img{
    height: 275px;
    width: 275px;
    position: absolute;
    left: 475px;
    top: 258;
}

#ronaldo_div{
    color:antiquewhite;
    height: 100px;
    width: 275px;
    position: absolute;
    left: 100px;
    top: 158px;
    background-image: url('img/juventus.jpg');
}

#ronaldo_h2{
    text-align: center;
    position: relative;
    top: 15px;
    left: 5px;
}

#ronaldo_img{
    height: 275px;
    width: 275px;
    position: absolute;
    left: 100px;
    top: 258px;
}

#messi_div{
    color:antiquewhite;
    height: 100px;
    width: 275px;
    position: absolute;
    top: 158px;
    left: 850px;
    background-image: url('img/barca.jpg');
}

#messi_h2{
    text-align: center;
    position: relative;
    top: 10px;
}

#messi_img{
    height: 275px;
    width: 275px;
    position: absolute;
    left: 850px;
    top: 258px;
}

#h22{
text-align:center;
color: antiquewhite;
position: relative;
top: 550px;
}

#copyright {
    position: absolute;
    left:50px;
    bottom: 10px;
}

#References_div{
    position: absolute;
    right:50px;
    bottom: 7px;
}

#References_h2 {
    color:antiquewhite;
    text-decoration:none;
}
